body
{ color: white;
    background-color: black;
}
.navbar
{
    font-family:lobster;
}
.navbar-nav
{ 
    display:flex;
    width: 100%;
  justify-content: flex-end;
}
.navbar-nav>li{
   
    margin:0 10px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay:.5s;
}
.navbar-brand
{   padding-left: 2rem;
    font-size: 2rem;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}
a.active,.collapse a:hover
{ display:inline-block;
    background:linear-gradient(45deg,#0099ff,#ff0066,#66ff66);
   -webkit-text-fill-color: transparent; 
   -webkit-background-clip: text;
}
.home{
    color: white;
    height:100vh;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    margin: 0 ;
   justify-content: space-around;

}
.home-content
{ 
  max-width: 500px;
  
}
.home-content h1{
    opacity: 0;
    animation: slideleft .5s ease forwards;
    animation-delay:.7s;
    font-size:56px;
    font-weight:600;
}
.bx
{
    font-size: 1.5rem;
}
.home-content h3{
    opacity: 0;
    animation: slideright .5s ease forwards;
    animation-delay:1s;
    line-height: 1.2;
    font-size:38px;
    font-weight:500;
}
.home-content p{
    opacity: 0;
    animation: slideright .5s ease forwards;
    animation-delay:1.3s;
    font-size:25px;
    font-weight: 400;
    margin: 20px 0;
}
.btn{
    position: relative;
    height: 45px;
    width:95px;
    display: inline-flex;
justify-content: center;
    align-items: center;
    border-radius: 50px;
   /* background-color: #0099ff;*/
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    z-index: 1;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay:1.4s;
}
.btn::before{
    content:'';
   position: absolute;
   inset: 0;
    background:linear-gradient(45deg,#0099ff,#ff0066,#66ff66);
   z-index: -1;
   border-radius: 50px;
   background-position: 0 0;
   background-size: 150%;
  filter: blur(5px);
}
.btn::after{
    content:'';
   position: absolute;
   inset: 0;
    background:linear-gradient(45deg,#0099ff,#ff0066,#66ff66);
   z-index: -1;
   border-radius: 50px;
   background-position: 0 0;
   background-size: 150%;
   transition: .5s,ease;
   filter:blur(1px);
}
.btn:hover::after
{
    background-position: 100% 0;
}
.home-side a
{  position: relative;
    display:flex;
    width: 3rem;
    height: 3rem;
    background:linear-gradient(45deg,#0099ff,#ff0066,#66ff66);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin:2rem ;
    z-index: 1;
}
.home-side a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 50%;
    transform: scale(.88);
  z-index: -1;
  transition: .5s;
  filter: blur(5px);
}
.home-side a:hover::after{
    transform: scale(0);
   
}
.home-side a:nth-child(1)
{
    opacity: 0;
    animation: slidebot .5s ease forwards;
    animation-delay:1.9s;
}
.home-side a:nth-child(2)
{
    opacity: 0;
    animation: slideleft .5s ease forwards;
    animation-delay:1.9s;
}
.home-side a:nth-child(3)
{
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay:1.9s;
}
.home-img
{   
    opacity: 0;
    animation: zoomin .5s ease forwards,float 2s ease-in-out infinite;
    animation-delay:1.9s,2.5s;
    height: 500px;
    width:500px;
}  
.home-img .circle
{ position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 50%;
    background-color: #ff0066;
    justify-content: center;
    align-items: center;
   
}
.home-img .circle::after{
    content: '';
 position: absolute;
  background-color: black;
  height: 480px;
  width: 480px;
  border-radius: 50%;
}
.circle .image{
position: relative;
width: 480px;height: 480px;
border-radius: 50%;
    z-index: 2;
    overflow: hidden;
}
.image img{
   position: absolute;
  transform: translate(1%,1%);
    object-fit: cover;
}
.circle span{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
    animation-delay: 2.5s;
    background:linear-gradient(45deg,#0099ff,#ff0066,#66ff66);
}



@keyframes slideTop {
    0%{
        opacity:0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}
@keyframes slideleft {
    0%{
        opacity:0;
        transform: translatex(-100px);
    }
    100%{
        opacity: 1;
        transform: translatex(0);
    }
    
}
@keyframes slideright {
    0%{
        opacity:0;
        transform: translatex(100px);
    }
    100%{
        opacity: 1;
        transform: translatex(0);
    }
    
}
@keyframes slidebot {
    0%{
        opacity:0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}
@keyframes zoomin {
    0%{
        opacity:0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}
@keyframes float {
    0%{
       
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}
@keyframes rotate {
    0%{
       
        transform: rotate(0);
    }
   
    100%{
        opacity: 1;
        transform: rotate(320deg);
    }
    
}
#about
{ 
     margin :5% 0;
    color: white;
    height: 100%;
    width: 100%;
   // background-color: #0099ff;
}
.d-flex>img{
    align-items: center;
    height: 20%;
    width: 40%;
}
#about img{
    margin-left: 10%;
    height: 20%;
    width: 20%;
}
.info
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info p{
    padding: 5%;
    font-size: 20px;
}
.d-flex h2,.h1-responsive{
    color: white;
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
}

.skill-list>img{
    margin-left: 10%;
    height: 28rem;
    width: 28rem;
}
.skill-list li{
 margin: 1rem;
 font-size: 18px;
 font-weight: 500;
}
.row
{
    margin:1.5rem;
}
